/*Global Styles
------------------------------*/
body {
    font-family: 'Open Sans Condensed Light' sans-serif;
    margin: 0;
} 

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 60px;
    margin-bottom: 35px;
    color: #BEE9E8;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin: 0;
}

h4{
    font-size:22px;
}

h2, p {
    margin: 0px;
}

p{
    font-size: 22px;
}

ul{
    font-size: 22px;
}

.content-wrap {
    border: 0px;
    max-width: 1530px;
    min-width: 950px;
    margin: 0 auto;
    overflow: auto;
    padding: 150px;     
}

.column-left {
/*    border: 1px solid black; */
    float: left;
/*    padding-top: px;*/
    width: 50%;
}

.column-right {
    width: 50%;
    float: right;
    padding-left: 0%;
}

.uppercase {
    text-transform: uppercase;
}

/* Header and Footer
-------------------------------------*/

header {
    background: #62B6CB;
    color: #EEE5E9;
    padding-top: 20px;
    position: relative;
}

footer {
    background: #1B4965;
    color: #EEE5E9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-weight: 700;
}
header h2 {
    font-weight: 500;
}

header p {
    font-size: 24px;
}

footer h2 {
    margin: 20px;
}
footer p {
    margin: 15px;
}

footer a:link {
    color: #EEE5E9;
}

footer a:hover {
    color: #CF5C36;
    text-decoration: none;
}

footer a:visited {
    color: #CF5C36;
}

footer h4 {
    font-weight: 200;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-info a {
    margin: 10px;
    display: inline-block;
}

/* Navigation
-------------------------------------*/


nav {
    text-align: center;
    background: #62B6CB;
    position: fixed;
    width: 100%;
    top: 0;
}


nav a {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;   
}

nav a:link {
    color: #EEE5E9;
}

nav a:hover {
    color: #EEE5E9;
    font-size: 24px;
}

nav a:visited {
    color: #EEE5E9;
}

nav .signin {
    float: right;
}

/* What We Do
--------------------------*/
.we_do {
    background:linear-gradient(rgba(98, 182, 203, 1.0), rgba(98, 182, 203, 0.4)),
                url() no-repeat fixed;
}

h3 ~ p {
    font-size: 20px;
    margin: 5px;
}

.p:first-of-type {
    margin-top: 0;
}

/*we_do.html*/

.we_also_do {
    background:linear-gradient(rgba(98, 182, 203, 1.0), rgba(98, 182, 203, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_2 {
    background: linear-gradient(rgba(203, 233, 255, 1.0), rgba(203, 233, 250, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_3 {
    background: linear-gradient(rgba(190, 233, 232, 1.0), rgba(190, 233, 232, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_4 {

    background: linear-gradient(rgba(95, 168, 211, 1.0), rgba(95, 168, 211, 0.4)), 
                url() no-repeat fixed;                
}


/*Vision
--------------------------*/
.vision {
    background: linear-gradient(rgba(203, 233, 255, 1.0), rgba(203, 233, 255, 0.4)),
                url() no-repeat fixed;
}

/*vision.html*/

.emotional-maturity {
    background: linear-gradient(rgba(27, 73, 101, 0.4), rgba(27, 73, 101, 1.0));
}

.health-rights {
    background: linear-gradient(rgba(98, 182, 203, 1.0), rgba(27, 73, 101, 0.4));
}


/*Mission
-------------------------*/
.mission {
    background: linear-gradient(rgba(95, 168, 211, 1.0), rgba(95, 168, 211, 0.4)), 
                url() no-repeat fixed;
    background-size: cover;
}

/*mission.html*/

.look-for-help {
    background: linear-gradient(rgba(98, 182, 203, 1.0), rgba(27, 73, 101, 0.4));
}

.open-your-heart {
    background: linear-gradient(rgba(27, 73, 101, 0.4), rgba(27, 73, 101, 1.0));
}

/*Patient List
------------------------*/

.patient-title {
    padding-top: 3rem;
    text-align: center;
}

.patient.content {
    background: #fff;
    border-radius: 8px;
    color: #000;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    padding: 4rem;
}

.patient-profiles #profile {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
    font: 400 13.3333px Arial;    
    padding: .75rem 1.25rem;
    text-align: center;
}

.patient-profiles {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem;
}

.patient {
    display: block;
}

/*List Content
----------------------*/

.closebtn {
    color: rgb(3, 3, 3);
    cursor: pointer;
    float: right;
    font-size: 35px;
}

.containerTab {
    background-color: #62B6CB;    
    color: white;
    font: Arial;   
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

/* Sign In or Log In
-----------------------------*/

* {box-sizing: border-box}

/* style the container */
.content-wrap .container {
  position: relative;
  border-radius: 5px;
  background-color: #BEE9E8;
  padding: 20px 40px 30px 40px;
}

/* style inputs and link buttons */
input, .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover, .btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #62B6CB;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(70, 159, 182);
}

input[type=radio] {
    width: 5%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

.hl {
    position: absolute;
    left: 50%;
    border: 2px solid #ddd;
    height: 175px;
}
/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #1B4965;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.g_id_signin {
    padding-top: 20px;
}

/* Volunteer List Content
----------------------*/

#v_regForm {
    background-color: #ffffff;
    margin: 100px auto;
    min-width: 300px;
    padding: 40px;
    width: 70%;
}

 .tab input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #aaaaaa;
}

.tab input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

#v_regForm button {
    background-color: #1B4965;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 10px 20px;
}

#v_regForm button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    background-color: #BEE9E8;
    border: none;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin: 0 2px;
    opacity: 0.5;
    width: 15px;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #62B6CB;
}

/* My Profile List Content
----------------------*/
#myProfile a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#myProfile a:hover {
  left: 0;
}

#myPatientList {
  top: 50px;
  background-color: #CAE9FF;
}

#myProfileText {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

#myProfileOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 35, 35, 0.5);
  z-index: 5;
  cursor: pointer;
}

#myProfileText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

button {
    cursor: pointer;
}