/*Global Styles
------------------------------*/
body {
    font-family: 'Open Sans Condensed Light' sans-serif;
    margin: 0;
} 

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 60px;
    margin-bottom: 35px;
    color: #BEE9E8;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin: 0;
}

h4{
    font-size:22px;
}

h2, p {
    margin: 0px;
}

p{
    font-size: 22px;
}
ul{
    font-size: 22px;
}

.content-wrap {
    border: 0px;
    max-width: 1530px;
    min-width: 950px;
    margin: 0 auto;
    overflow: auto;
    padding: 150px;     
}

.column-left {
/*    border: 1px solid black; */
    float: left;
/*    padding-top: px;*/
    width: 50%;
}

.column-right {
    width: 50%;
    float: right;
    padding-left: 0%;
}

.uppercase {
    text-transform: uppercase;
}

/* Header and Footer
-------------------------------------*/

header {
    background: #62B6CB;
    color: #EEE5E9;
    padding-top: 20px;
    position: relative;
}

footer {
    background: #1B4965;
    color: #EEE5E9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-weight: 700;
}
header h2 {
    font-weight: 500;
}

header p {
    font-size: 24px;
}

footer h2 {
    margin: 20px;
}
footer p {
    margin: 15px;
}

footer a:link {
    color: #EEE5E9;
}

footer a:hover {
    color: #CF5C36;
    text-decoration: none;
}

footer a:visited {
    color: #CF5C36;
}

footer h4 {
    font-weight: 200;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-info a {
    margin: 10px;
    display: inline-block;
}

/* Navigation
-------------------------------------*/


nav {
    text-align: center;
    background: #62B6CB;
    position: fixed;
    width: 100%;
    top: 0;
}


nav a {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;   
}

nav a:link {
    color: #EEE5E9;
}

nav a:hover {
    color: #EEE5E9;
    font-size: 24px;
}

nav a:visited {
    color: #EEE5E9;
}

nav .signin {
    float: right;
}

/* What We Do
--------------------------*/
.we_do {
    background:linear-gradient(rgba(98, 182, 203, 1.0), rgba(98, 182, 203, 0.4)),
                url() no-repeat fixed;
}

h3 ~ p {
    font-size: 20px;
    margin: 5px;
}

.p:first-of-type {
    margin-top: 0;
}

/*Vision
--------------------------*/

.vision {
    background: linear-gradient(rgba(203, 233, 255, 1.0), rgba(203, 233, 255, 0.4)),
                url() no-repeat fixed;
}

/*vision.html*/
.we_also_do {
    background:linear-gradient(rgba(98, 182, 203, 1.0), rgba(98, 182, 203, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_2 {
    background: linear-gradient(rgba(203, 233, 255, 1.0), rgba(203, 233, 250, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_3 {
    background: linear-gradient(rgba(190, 233, 232, 1.0), rgba(190, 233, 232, 0.4)),
                url() no-repeat fixed;
}

.we_also_do_4 {

    background: linear-gradient(rgba(95, 168, 211, 1.0), rgba(95, 168, 211, 0.4)), 
                url() no-repeat fixed;                
}

/*Mission
-------------------------*/

.mission {
    background: linear-gradient(rgba(95, 168, 211, 1.0), rgba(95, 168, 211, 0.4)), 
                url() no-repeat fixed;
    background-size: cover;
}

/*Patient List
------------------------*/

.patient-title {
    padding-top: 3rem;
    text-align: center;
}
patient.content {
    background: #fff;
    border-radius: 8px;
    color: #000;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    padding: 4rem;
}
.patient-profile {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
    padding: .75rem 1.25rem;
}
.patient-profiles {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
patient {
    display: block;
}

/*Overlays
----------------------*/
.overlays {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    cursor: pointer; 
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; 
    z-index: 2;
}

#text{
    align-items: center;
    color: white;
    font-size: 50px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}